/* Styles pour l'en-tête */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Styles pour la section hero */
#hero {
  background-image: url('gymateban.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

#hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

/* Styles pour la section features */
#features {
  background-color: #f2f2f2;
  padding: 50px;
}

#features h2 {
  margin-bottom: 40px;
}

#features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#features li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styles pour la section planning */
#planning {
  background-color: #e6e6e6;
  padding: 50px;
}

#planning h3 {
  margin-bottom: 40px;
}

#planning label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

#planning select,
#planning input[type="date"],
#planning input[type="time"],
#planning input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

#Planifier {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* Styles pour la section chat */
.chat {
  background-color: #f2f2f2;
  padding: 50px;
}

.chat h4 {
  margin-bottom: 40px;
}

#messages {
  height: 200px;
  overflow: auto;
  margin-bottom: 20px;
}

#message-form {
  display: flex;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

#message-input:focus {
  outline: none;
}

#message-input::placeholder {
  color: #999;
}

button[type="submit"] {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

/* Styles pour la section séances */
#seances {
  padding: 50px;
}

#seances h3 {
  margin-bottom
